<footer>
  <nav class='navbar navbar-expand-md bg-blank'>
    <button class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav mx-auto w-50 d-flex align-items-center'>
        <li class='nav-item me-auto'>
          <%= link_to t('footer.terms'), '#', class: 'nav-link fs-5' %>          
        </li>

        <li class='nav-item mx-auto'>
          <%= link_to t('footer.contact'), '#', class: 'nav-link fs-5' %>          
        </li>

        <li class='nav-item ms-auto'>
          <%= link_to t('footer.privacy_policy'), '#', class: 'nav-link fs-5' %>
        </li>
      </ul>
    </div>
  </nav>
</footer>