<header>
  <nav class='navbar navbar-expand-md bg-teal'>
    <%= link_to '/', class: 'navbar-brand ms-4 fs-3' do %>
      Mitodoke
    <% end %>
    <button class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ms-auto me-4 main-nav align-items-center'>
        <li class='nav-item'>
          <%= link_to t('header.login'), '#', class: 'nav-link fs-5' %>          
        </li>

        <li class='nav-item'>
          <%= link_to t('header.sign_up'), '#', class: 'nav-link fs-5' %>
        </li>
      </ul>
    </div>
  </nav>
</header>